@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    box-sizing: border-box;
  }

  body {
    font-family: 'Nunito', sans-serif;
    overscroll-behavior: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}
